body {
    text-align: justify;
}

div.quote-container blockquote p {
  font-size: 15px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: red;
    border-color: red;
}

a:link {
    color: red;
}